# CONTENT LIST

1. Importing Libraries
2. Importing Datasets (Industry, PPP & Zipcode)

3. Industry Dataset - Cleaning Data
4. PPP Dataset - Cleaning Data
5. Zipcode Dataset - Cleaning Data

6. Industry Dataset - Understanding Data
7. PPP Dataset - Understanding Data
8. Zipcode Dataset - Understanding Data

## 01. Importing Libraries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
#Create Path
path = r'C:\Users\chery\Desktop\CareerFoundry\Immersion Data Analytics\Achievement 6\04-2021 PPP Loan Analysis\02 Data'

In [3]:
#Importing 'nacis' Industry Data
df_industry = pd.read_csv(os.path.join(path, 'Original Data', 'naics_6.csv'), index_col = False)

In [4]:
#Importing 'ppp laon data'
df_ppp = pd.read_csv(os.path.join(path, 'Original Data', 'ppp_loan_data.csv'), index_col = False)

In [5]:
#Importing 'zip code' Data
df_zip = pd.read_csv(os.path.join(path, 'Original Data', 'zip_county_crosswalk.csv'), index_col = False)

## 03. Industry Dataset - Cleaning Data

In [6]:
#View first five rows of data
df_industry.head()

   industry_code                                 industry_title
0         111110                   NAICS 111110 Soybean farming
1         111120  NAICS 111120 Oilseed, except soybean, farming
2         111130          NAICS 111130 Dry pea and bean farming
3         111140                     NAICS 111140 Wheat farming
4         111150                      NAICS 111150 Corn farming

In [7]:
#Basic info
df_industry.shape

(1301, 2)

In [8]:
#View data type of industry code
df_industry.dtypes

industry_code      int64
industry_title    object
dtype: object

### Data Types

In [9]:
#Change data type of industry code from Numeric to String
df_industry['industry_code'] = df_industry['industry_code'].astype('str')

In [10]:
#Confirm data type Changed
df_industry['industry_code'].dtype

dtype('O')

In [11]:
#Check for mixed types

for col in df_industry.columns.tolist():
  weird = (df_industry[[col]].applymap(type) != df_industry[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_industry[weird]) > 0:
    print (col)

No output = no mixed types

### Missing Data

In [12]:
#Check for Missing data

df_industry.isnull().sum()

industry_code     0
industry_title    0
dtype: int64

No missing data

### Duplicate Data

In [13]:
#Create new subset with only duplicate rows
df_industry_dups = df_industry[df_industry.duplicated()]

In [14]:
#View subset 
df_industry_dups

Empty DataFrame
Columns: [industry_code, industry_title]
Index: []

No duplicate data

## 04. PPP Dataset - Cleaning Data

In [15]:
#View first five rows of data
df_ppp.head()

,loanamount,city,state,zip,naicscode,businesstype,raceethnicity,gender,veteran,jobsreported,dateapproved,lender,congressionaldistrict
0,149978.0,Pelham,AL,35124.0,561311.0,Limited Liability Company(LLC),NaN,NaN,NaN,17.0,05/07/2020,Truist Bank d/b/a Branch Banking & Trust Co,AL-06
1,149900.0,Birmingham,AL,35242.0,561311.0,Corporation,NaN,Female Owned,NaN,39.0,04/13/2020,Peoples Bank of Alabama,AL-06
2,149887.0,Trussville,AL,35173.0,238910.0,Limited Liability Company(LLC),NaN,NaN,NaN,14.0,04/15/2020,Bryant Bank,AL-06
3,149865.0,Trussville,AL,35173.0,621340.0,Self-Employed Individuals,NaN,NaN,NaN,0.0,04/30/2020,Regions Bank,AL-06
4,149862.0,Springville,AL,35146.0,624221.0,Non-Profit Organization,NaN,NaN,NaN,19.0,04/12/2020,"South State Bank, National Association",AL-06

In [16]:
#Basic info
df_ppp.shape

(4549613, 13)

### Column Names

In [17]:
#Renaming Columns
df_ppp.rename(columns = {'loanamount' : 'loan_amount'}, inplace = True)
df_ppp.rename(columns = {'naicscode' : 'industry_code'}, inplace = True)
df_ppp.rename(columns = {'businesstype' : 'business_type'}, inplace = True)
df_ppp.rename(columns = {'raceethnicity' : 'business_owner_race'}, inplace = True)
df_ppp.rename(columns = {'gender' : 'business_owner_gender'}, inplace = True)
df_ppp.rename(columns = {'veteran' : 'business_owner_vet_status'}, inplace = True)
df_ppp.rename(columns = {'jobsreported' : 'jobs_reported'}, inplace = True)
df_ppp.rename(columns = {'dateapproved' : 'date_loan_approved'}, inplace = True)
df_ppp.rename(columns = {'congressionaldistrict' : 'congressional_district'}, inplace = True)

In [18]:
#Check renamed columns
df_ppp.head()

,loan_amount,city,state,zip,industry_code,business_type,business_owner_race,business_owner_gender,business_owner_vet_status,jobs_reported,date_loan_approved,lender,congressional_district
0,149978.0,Pelham,AL,35124.0,561311.0,Limited Liability Company(LLC),NaN,NaN,NaN,17.0,05/07/2020,Truist Bank d/b/a Branch Banking & Trust Co,AL-06
1,149900.0,Birmingham,AL,35242.0,561311.0,Corporation,NaN,Female Owned,NaN,39.0,04/13/2020,Peoples Bank of Alabama,AL-06
2,149887.0,Trussville,AL,35173.0,238910.0,Limited Liability Company(LLC),NaN,NaN,NaN,14.0,04/15/2020,Bryant Bank,AL-06
3,149865.0,Trussville,AL,35173.0,621340.0,Self-Employed Individuals,NaN,NaN,NaN,0.0,04/30/2020,Regions Bank,AL-06
4,149862.0,Springville,AL,35146.0,624221.0,Non-Profit Organization,NaN,NaN,NaN,19.0,04/12/2020,"South State Bank, National Association",AL-06

### Data Types

In [19]:
#View data type of ppp
df_ppp.dtypes

loan_amount                  float64
city                          object
state                         object
zip                          float64
industry_code                float64
business_type                 object
business_owner_race           object
business_owner_gender         object
business_owner_vet_status     object
jobs_reported                float64
date_loan_approved            object
lender                        object
congressional_district        object
dtype: object

In [20]:
#Change data type of industry code from Numeric to String
df_ppp['industry_code'] = df_ppp['industry_code'].astype('str')

In [21]:
#Change data type of zip code from Numeric to String
df_ppp['zip'] = df_ppp['zip'].astype('str')

In [22]:
#Confirm data types Changed
df_ppp.dtypes

loan_amount                  float64
city                          object
state                         object
zip                           object
industry_code                 object
business_type                 object
business_owner_race           object
business_owner_gender         object
business_owner_vet_status     object
jobs_reported                float64
date_loan_approved            object
lender                        object
congressional_district        object
dtype: object

In [23]:
#Check for mixed types

for col in df_ppp.columns.tolist():
  weird = (df_ppp[[col]].applymap(type) != df_ppp[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ppp[weird]) > 0:
    print (col)

city
state
business_type
business_owner_race
business_owner_gender
business_owner_vet_status
congressional_district

In [24]:
#Change data types of mixed typed columns

df_ppp['city'] = df_ppp['city'].astype('object')
df_ppp['state'] = df_ppp['state'].astype('object')
df_ppp['business_type'] = df_ppp['business_type'].astype('object')
df_ppp['business_owner_race'] = df_ppp['business_owner_race'].astype('object')
df_ppp['business_owner_gender'] = df_ppp['business_owner_gender'].astype('object')
df_ppp['business_owner_vet_status'] = df_ppp['business_owner_vet_status'].astype('object')
df_ppp['congressional_district'] = df_ppp['congressional_district'].astype('object')

### Missing Values - Remove from Dataset

In [25]:
#Check for Missing data

df_ppp.isnull().sum()

loan_amount                        0
city                             186
state                            149
zip                                0
industry_code                      0
business_type                   3165
business_owner_race          4107224
business_owner_gender        3624603
business_owner_vet_status    3927345
jobs_reported                 297998
date_loan_approved                 0
lender                             0
congressional_district           794
dtype: int64

In [26]:
df_ppp.shape

(4549613, 13)

In [27]:
#Create new df excluding missing 'city' values
df_ppp_clean1 = df_ppp[df_ppp['city'].isnull() == False]

In [28]:
df_ppp_clean1.shape

(4549427, 13)

In [29]:
#Create new df excluding missing 'state' values
df_ppp_clean2 = df_ppp_clean1[df_ppp_clean1['state'].isnull() == False]

In [30]:
df_ppp_clean2.shape

(4549405, 13)

In [31]:
#Create new df excluding missing 'zip' values
df_ppp_clean3 = df_ppp_clean2[df_ppp_clean2['zip'].isnull() == False]

In [32]:
df_ppp_clean3.shape

(4549405, 13)

In [33]:
#Create new df excluding missing 'business_type' values
df_ppp_clean4 = df_ppp_clean3[df_ppp_clean3['business_type'].isnull() == False]

In [34]:
df_ppp_clean4.shape

(4546337, 13)

In [35]:
#Create new df excluding missing 'congressional_district' values
df_ppp_clean5 = df_ppp_clean4[df_ppp_clean4['congressional_district'].isnull() == False]

In [36]:
df_ppp_clean5.shape

(4545789, 13)

In [37]:
#Create new df excluding missing 'jobs_reported' values
df_ppp_clean6 = df_ppp_clean5 [df_ppp_clean5['jobs_reported'].isnull() == False]

In [38]:
df_ppp_clean6.shape

(4248155, 13)

In [44]:
#Confirm missing data removed

df_ppp_clean6.isnull().sum()

loan_amount                        0
city                               0
state                              0
zip                                0
industry_code                      0
business_type                      0
business_owner_race          3817050
business_owner_gender        3359297
business_owner_vet_status    3652511
jobs_reported                      0
date_loan_approved                 0
lender                             0
congressional_district             0
dtype: int64

### Missing Values - Reviewing Value_Counts

In [39]:
#Print frequency of 'business_owner_race' column

df_ppp_clean6 ['business_owner_race'].value_counts(dropna = False)

NaN                                 3817050
White                                329014
Asian                                 49922
Hispanic                              34767
Black or African American             15001
American Indian or Alaska Native       2236
Puerto Rican                            152
Multi Group                               8
Eskimo & Aleut                            5
Name: business_owner_race, dtype: int64

In [40]:
#Print frequency of 'business_owner_gender' column

df_ppp_clean6 ['business_owner_gender'].value_counts(dropna = False)

NaN             3359297
Male Owned       672241
Female Owned     216617
Name: business_owner_gender, dtype: int64

In [41]:
#Print frequency of 'business_owner_vet_status' column

df_ppp_clean6 ['business_owner_vet_status'].value_counts(dropna = False)

NaN            3652511
Non-Veteran     569793
Veteran          25851
Name: business_owner_vet_status, dtype: int64

### Duplicate Data

In [42]:
#Create new subset with only duplicate rows
df_ppp_clean6_dups = df_ppp_clean6[df_ppp_clean6.duplicated()]

In [43]:
#View subset 
df_ppp_clean6_dups

,loan_amount,city,state,zip,industry_code,business_type,business_owner_race,business_owner_gender,business_owner_vet_status,jobs_reported,date_loan_approved,lender,congressional_district
26734,20833.32,Huntsville,AL,35801.0,541110.0,Professional Association,NaN,Male Owned,NaN,1.0,04/10/2020,Progress Bank and Trust,AL-05
26939,20833.32,Orange Beach,AL,36561.0,531210.0,Sole Proprietorship,NaN,NaN,NaN,1.0,04/15/2020,Centennial Bank,AL-01
26953,20833.32,Huntsville,AL,35801.0,621111.0,Corporation,NaN,NaN,NaN,1.0,04/09/2020,Progress Bank and Trust,AL-05
26954,20833.32,Huntsville,AL,35801.0,621111.0,Corporation,NaN,NaN,NaN,1.0,04/09/2020,Progress Bank and Trust,AL-05
26975,20833.30,Cullman,AL,35055.0,621111.0,Self-Employed Individuals,NaN,Male Owned,NaN,1.0,04/14/2020,Cullman Savings Bank,AL-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4543111,20832.00,Casper,WY,82601.0,531210.0,Sole Proprietorship,NaN,NaN,NaN,1.0,06/26/2020,First Interstate Bank,WY-00
4543318,20800.00,Jackson,WY,83001.0,531210.0,Sole Proprietorship,NaN,NaN,NaN,1.0,04/15/2020,Bank of Jackson Hole,WY-00
4544430,16200.00,Cheyenne,WY,82001.0,541110.0,Limited Liability Company(LLC),NaN,Female Owned,NaN,1.0,04/08/2020,Jonah Bank of Wyoming,WY-00
4546500,9420.00,Buffalo,WY,82834.0,561710.0,Subchapter S Corporation,White,Male Owned,Non-Veteran,1.0,04/12/2020,First Interstate Bank,WY-00
4546773,8600.00,Sundance,WY,82729.0,484110.0,Sole Proprietorship,NaN,NaN,NaN,1.0,04/27/2020,Sundance State Bank,WY-00

In [44]:
#View shape of dupes
df_ppp_clean6_dups.shape

(6418, 13)

In [45]:
#Seeing Number of Rows in df including duplicates
df_ppp_clean6.shape

(4248155, 13)

In [46]:
#Create new dataset without duplicate rows
df_ppp_clean6_no_dups = df_ppp_clean6.drop_duplicates()

In [47]:
#Seeing Number of Rows in df excluding duplicates
df_ppp_clean6_no_dups.shape

(4241737, 13)

## 05. Zipcode Dataset - Cleaning Data

In [48]:
#View first five rows of data
df_zip.head()

   ZIP  COUNTY  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501   36103   0.000000   1.000000   0.000000   1.000000
1  601   72001   0.839799   0.800983   0.871166   0.838115
2  601   72113   0.160201   0.199017   0.128834   0.161885
3  602   72003   1.000000   0.998801   1.000000   0.999919
4  602   72005   0.000000   0.001199   0.000000   0.000081

In [49]:
#Basic info
df_zip.shape

(54194, 6)

### Renaming Columns

In [50]:
#Renaming Columns
df_zip.rename(columns = {'RES_RATIO' : 'RESIDENTIAL_RATIO'}, inplace = True)
df_zip.rename(columns = {'BUS_RATIO' : 'BUSINESS_RATIO'}, inplace = True)
df_zip.rename(columns = {'OTH_RATIO' : 'OTHER_RATIO'}, inplace = True)
df_zip.rename(columns = {'TOT_RATIO' : 'TOTAL_RATIO'}, inplace = True)

In [51]:
#Check renamed columns
df_zip.head()

   ZIP  COUNTY  RESIDENTIAL_RATIO  BUSINESS_RATIO  OTHER_RATIO  TOTAL_RATIO
0  501   36103           0.000000        1.000000     0.000000     1.000000
1  601   72001           0.839799        0.800983     0.871166     0.838115
2  601   72113           0.160201        0.199017     0.128834     0.161885
3  602   72003           1.000000        0.998801     1.000000     0.999919
4  602   72005           0.000000        0.001199     0.000000     0.000081

### Data Types

In [52]:
#View data type of zip
df_zip.dtypes

ZIP                    int64
COUNTY                 int64
RESIDENTIAL_RATIO    float64
BUSINESS_RATIO       float64
OTHER_RATIO          float64
TOTAL_RATIO          float64
dtype: object

In [53]:
#Change data type of zip & country from Numeric to String
df_zip['ZIP'] = df_zip['ZIP'].astype('str')
df_zip['COUNTY'] = df_zip['COUNTY'].astype('str')

In [54]:
#Check data types updated
df_zip.dtypes

ZIP                   object
COUNTY                object
RESIDENTIAL_RATIO    float64
BUSINESS_RATIO       float64
OTHER_RATIO          float64
TOTAL_RATIO          float64
dtype: object

In [55]:
#Check for mixed types

for col in df_zip.columns.tolist():
  weird = (df_zip[[col]].applymap(type) != df_zip[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_zip[weird]) > 0:
    print (col)

No output = No mixed types

### Missing Values

In [56]:
#Check for Missing data

df_zip.isnull().sum()

ZIP                  0
COUNTY               0
RESIDENTIAL_RATIO    0
BUSINESS_RATIO       0
OTHER_RATIO          0
TOTAL_RATIO          0
dtype: int64

No missing values

### Duplicate Data

In [57]:
#Create new subset with only duplicate rows
df_zip_dups = df_zip[df_zip.duplicated()]

In [58]:
#View subset 
df_zip_dups

Empty DataFrame
Columns: [ZIP, COUNTY, RESIDENTIAL_RATIO, BUSINESS_RATIO, OTHER_RATIO, TOTAL_RATIO]
Index: []

No duplicate data

# 06. Industry Dataset - Understanding Data

In [59]:
df_industry.head()

  industry_code                                 industry_title
0        111110                   NAICS 111110 Soybean farming
1        111120  NAICS 111120 Oilseed, except soybean, farming
2        111130          NAICS 111130 Dry pea and bean farming
3        111140                     NAICS 111140 Wheat farming
4        111150                      NAICS 111150 Corn farming

In [60]:
df_industry.shape

(1301, 2)

In [61]:
df_industry.dtypes

industry_code     object
industry_title    object
dtype: object

### Export Data

In [62]:
#Exporting in Pickle Format

df_industry.to_pickle(os.path.join(path,'Prepared Data', 'industry_cleaned.pkl'))

# 07. PPP Dataset - Understanding Data

In [63]:
df_ppp_clean6_no_dups.shape

(4241737, 13)

In [64]:
df_ppp_clean6_no_dups.dtypes

loan_amount                  float64
city                          object
state                         object
zip                           object
industry_code                 object
business_type                 object
business_owner_race           object
business_owner_gender         object
business_owner_vet_status     object
jobs_reported                float64
date_loan_approved            object
lender                        object
congressional_district        object
dtype: object

In [65]:
df_ppp_clean6_no_dups.describe()

        loan_amount  jobs_reported
count  4.241737e+06   4.241737e+06
mean   3.235574e+04   4.611102e+00
std    3.289215e+04   9.908373e+00
min    1.000000e-02  -6.000000e+00
25%    9.300000e+03   1.000000e+00
50%    2.065000e+04   2.000000e+00
75%    4.367200e+04   6.000000e+00
max    1.499991e+05   5.000000e+02

In [70]:
#Drop row(s) with negative value for 'jobs_reported'
df_ppp_clean6_no_dups.drop(df_ppp_clean6_no_dups.loc[df_ppp_clean6_no_dups['jobs_reported']==-6].index, inplace=True)

C:\Users\chery\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [71]:
#Confirm that negative value removed for 'jobs_reported'
df_ppp_clean6_no_dups.describe()

        loan_amount  jobs_reported
count  4.241736e+06   4.241736e+06
mean   3.235574e+04   4.611105e+00
std    3.289216e+04   9.908373e+00
min    1.000000e-02   0.000000e+00
25%    9.300000e+03   1.000000e+00
50%    2.065000e+04   2.000000e+00
75%    4.367200e+04   6.000000e+00
max    1.499991e+05   5.000000e+02

In [72]:
df_ppp_clean6_no_dups.shape

(4241736, 13)

In [73]:
#Print frequency of 'loan_amount' column to find potential mode

df_ppp_clean6 ['loan_amount'].value_counts(dropna = False)

20833.00    70281
20800.00    56847
20832.00    50551
10000.00    25983
12500.00    25305
            ...
3352.75         1
4534.37         1
91444.00        1
10406.04        1
13575.43        1
Name: loan_amount, Length: 417095, dtype: int64

In [74]:
#Print frequency of 'jobs_reported' column to find potential mode

df_ppp_clean6 ['jobs_reported'].value_counts(dropna = False)

1.0      1247679
0.0       553146
2.0       468325
3.0       346731
4.0       287169
          ...
338.0          1
337.0          1
246.0          1
247.0          1
295.0          1
Name: jobs_reported, Length: 381, dtype: int64

In [75]:
#Print frequency of 'City' column to find potential mode

df_ppp_clean6 ['city'].value_counts(dropna = False)

New York           48544
Houston            47546
Los Angeles        41883
Chicago            41343
Miami              39461
                   ...
Chery Grove            1
Corpus  Christi        1
Henreytta              1
Chicagochicago         1
Chataignier            1
Name: city, Length: 35619, dtype: int64

In [76]:
#Print frequency of 'state' column to find potential mode

df_ppp_clean6 ['state'].value_counts(dropna = False)

CA    490234
FL    365510
TX    347657
NY    283036
IL    187622
GA    145577
PA    130891
NJ    127179
OH    117452
NC    107293
MI    100615
VA     93064
CO     87262
MA     87254
WA     86094
MN     83747
TN     80135
MO     79564
WI     75200
MD     70321
AZ     68805
IN     67445
LA     66651
AL     59630
OK     57696
SC     56520
CT     52480
IA     51701
OR     51298
KS     46191
UT     44073
MS     43560
KY     42368
PR     37440
NV     36603
AR     35926
NE     35182
ID     26630
ME     24758
MT     21246
HI     19456
SD     19415
NM     18700
NH     18217
ND     17647
WV     15366
WY     11805
RI     11531
VT     10129
DC      9982
AK      9854
DE      9795
VI      1880
GU      1828
MP       364
AS       274
AE         1
FI         1
Name: state, dtype: int64

In [77]:
#Print frequency of 'zip' column to find potential mode

df_ppp_clean6 ['zip'].value_counts(dropna = False)

10001.0    3555
10036.0    2879
10018.0    2856
8701.0     2827
10016.0    2792
           ...
60669.0       1
16413.0       1
17253.0       1
80818.0       1
33564.0       1
Name: zip, Length: 35782, dtype: int64

In [78]:
#Print frequency of 'industry_code' column to find potential mode

df_ppp_clean6 ['industry_code'].value_counts(dropna = False)

722511.0    133907
531210.0    112803
nan         112668
541110.0    106416
812112.0     89313
             ...
421930.0         1
331311.0         1
315299.0         1
315222.0         1
327112.0         1
Name: industry_code, Length: 1220, dtype: int64

In [79]:
#Print frequency of 'business_type' column to find potential mode

df_ppp_clean6 ['business_type'].value_counts(dropna = False)

Limited  Liability Company(LLC)        1210113
Corporation                            1133314
Sole Proprietorship                     747688
Subchapter S Corporation                539295
Self-Employed Individuals               230919
Independent Contractors                 145702
Non-Profit Organization                 130194
Partnership                              55511
Limited Liability Partnership            26426
Professional Association                 20453
Cooperative                               4496
Non-Profit Childcare Center               1893
Trust                                      915
Joint Venture                              472
Tenant in Common                           466
Employee Stock Ownership Plan(ESOP)        281
Rollover as Business Start-Ups (ROB         17
Name: business_type, dtype: int64

In [80]:
#Print frequency of 'business_owner_race' column to find potential mode

df_ppp_clean6 ['business_owner_race'].value_counts(dropna = False)

NaN                                 3817050
White                                329014
Asian                                 49922
Hispanic                              34767
Black or African American             15001
American Indian or Alaska Native       2236
Puerto Rican                            152
Multi Group                               8
Eskimo & Aleut                            5
Name: business_owner_race, dtype: int64

In [81]:
#Print frequency of 'business_owner_gender' column to find potential mode

df_ppp_clean6 ['business_owner_gender'].value_counts(dropna = False)

NaN             3359297
Male Owned       672241
Female Owned     216617
Name: business_owner_gender, dtype: int64

In [82]:
#Print frequency of 'business_owner_vet_status' column to find potential mode

df_ppp_clean6 ['business_owner_vet_status'].value_counts(dropna = False)

NaN            3652511
Non-Veteran     569793
Veteran          25851
Name: business_owner_vet_status, dtype: int64

In [83]:
#Print frequency of 'date_loan_approved' column to find potential mode

df_ppp_clean6 ['date_loan_approved'].value_counts(dropna = False)

05/03/2020    392659
04/28/2020    374195
05/01/2020    287805
04/30/2020    274609
04/15/2020    236448
               ...
06/06/2020      1430
07/12/2020      1418
06/14/2020      1415
06/07/2020      1034
07/04/2020       240
Name: date_loan_approved, Length: 114, dtype: int64

In [84]:
#Print frequency of 'lender' column to find potential mode

df_ppp_clean6 ['lender'].value_counts(dropna = False)

Bank of America, National Association           312572
JPMorgan Chase Bank, National Association       241393
Kabbage, Inc.                                   193880
Cross River Bank                                191365
Wells Fargo Bank, National Association          119575
                                                 ...
North Cambridge Co-Operative Bank                    1
Diversified Members CU                               1
WCF Financial Bank                                   1
Section 705 FCU                                      1
Independent Development Services Corporation         1
Name: lender, Length: 4870, dtype: int64

In [85]:
#Print frequency of 'congressional_district' column to find potential mode

df_ppp_clean6 ['congressional_district'].value_counts(dropna = False)

PR-00    37434
NY-12    33033
FL-22    23862
CA-33    23495
CA-30    22979
         ...
GU-00     1829
TX-33     1107
MP-00      364
AS-00      274
AE-00        3
Name: congressional_district, Length: 442, dtype: int64

### Export Data

In [86]:
#Exporting in Pickle Format

df_ppp_clean6_no_dups.to_pickle(os.path.join(path,'Prepared Data', 'ppp_cleaned.pkl'))

# 08. Zipcode Dataset - Understanding Data

In [94]:
df_zip.shape

(54194, 6)

In [95]:
df_zip.dtypes

ZIP                   object
COUNTY                object
RESIDENTIAL_RATIO    float64
BUSINESS_RATIO       float64
OTHER_RATIO          float64
TOTAL_RATIO          float64
dtype: object

In [96]:
df_zip.describe()

       RESIDENTIAL_RATIO  BUSINESS_RATIO   OTHER_RATIO   TOTAL_RATIO
count       54194.000000    54194.000000  54194.000000  54194.000000
mean            0.648559        0.661051      0.659556      0.728033
std             0.438594        0.447735      0.459942      0.403485
min             0.000000        0.000000      0.000000      0.000027
25%             0.067561        0.031746      0.000000      0.309856
50%             0.988012        1.000000      1.000000      1.000000
75%             1.000000        1.000000      1.000000      1.000000
max             1.000000        1.000000      1.000000      1.000000

In [102]:
#Print frequency of 'RESIDENTIAL_RATIO' column to find potential mode

df_zip ['RESIDENTIAL_RATIO'].value_counts(dropna = False)

1.000000    24172
0.000000     4512
0.500000       13
0.068966       10
0.125000        9
            ...
0.906199        1
0.001859        1
0.766150        1
0.018251        1
0.030863        1
Name: RESIDENTIAL_RATIO, Length: 23360, dtype: int64

In [103]:
#Print frequency of 'BUSINESS_RATIO' column to find potential mode

df_zip ['BUSINESS_RATIO'].value_counts(dropna = False)

1.000000    29236
0.000000    10586
0.500000      242
0.333333      140
0.666667      127
            ...
0.428517        1
0.351230        1
0.997583        1
0.669623        1
0.916596        1
Name: BUSINESS_RATIO, Length: 6755, dtype: int64

In [104]:
#Print frequency of 'OTHER_RATIO' column to find potential mode

df_zip ['OTHER_RATIO'].value_counts(dropna = False)

1.000000    32462
0.000000    14830
0.500000      196
0.666667      135
0.333333      131
            ...
0.917431        1
0.773810        1
0.020576        1
0.495088        1
0.670455        1
Name: OTHER_RATIO, Length: 3384, dtype: int64

In [105]:
#Print frequency of 'TOTAL_RATIO' column to find potential mode

df_zip ['TOTAL_RATIO'].value_counts(dropna = False)

1.000000    28318
0.500000       12
0.090909       10
0.666667       10
0.066667        9
            ...
0.759281        1
0.195087        1
0.111524        1
0.019911        1
0.162762        1
Name: TOTAL_RATIO, Length: 23739, dtype: int64

In [106]:
#Print frequency of 'zip' column to find potential mode

df_zip ['ZIP'].value_counts(dropna = False)

926      7
40361    6
39573    6
725      6
957      6
        ..
41567    1
48127    1
73403    1
1081     1
34203    1
Name: ZIP, Length: 39455, dtype: int64

In [107]:
#Print frequency of 'county' column to find potential mode

df_zip ['COUNTY'].value_counts(dropna = False)

6037     495
48201    230
17031    227
11001    220
4013     193
        ...
72073      1
72147      1
48003      1
78020      1
51595      1
Name: COUNTY, Length: 3227, dtype: int64

### Export Data

In [108]:
#Exporting in Pickle Format

df_zip.to_pickle(os.path.join(path,'Prepared Data', 'zip_cleaned.pkl'))